/*
WORDPRESS DASH ICON CUSTOM COLOR

These are the style rules for giving the custom dash icons the color in which the whole plugin is themed.

CHANGELOG

Added 02.01.2019
 */



/*
AUTHOR AFFILIATION DISPLAY

These are the style rules, which make the affiliation listing in the
Edit Author menu display as a list.

CHANGELOG

Added 03.09.2018

Changed 06.12.2018
 */
div#affiliation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

div#affiliation-wrapper>div {
    display: flex;
    flex-direction: row;
    /* background-color: green; */
    margin-top: 5px;
    margin-bottom: 5px;
}

div.affiliation-caption-row p {
    flex-basis: 0% !important;
    margin-right: 15%;
    margin-left: 2%
}

.material-button {
    /* center the button within the container */
    align-self: center;

    /* Making a material design button */
    border-style: solid;
    border-width: 0;
    border-bottom-width: 3px;
    border-bottom-color: #28A46C;

    /* Scaling the button up, so it can be seen better */
    font-size: small;
    width: 160px !important;
    height: 30px !important;

    background-color: #3ECF8E;
    color: white;
}
.material-button:active {
    /* Button press animation */
    background-color: #28A46C;
    border-bottom-width: 0px;
    border-top-width: 3px;
    border-top-color: rgba(0,0,0,0);
}

div#affiliation-wrapper>div>p {
    margin-top: 0px;
    margin-bottom: 0px;
    flex-grow: 1;
}

div#affiliation-wrapper>div>input {
    margin-top:0px;
    flex-basis: 0% !important;
    margin-right: 15%;
    margin-left: 2%
}
/*
Changed 03.11.2018
This container will contain all the log messages about what is going on during the fetch process of the affiliation
ids. The container has a light grey background color and a slim border design

Changed 04.11.2018
The log container needed some margin at top and buttom to separate it from the button and the actual display more
 */
div#affiliation-fetch-log {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    background-color: #e9e9e9;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

/*
*****************************************************************************************
COMPONENT: author-input

This component manages the input of all the author specific meta data.
 */
#scopus-author-input h2 {
    font-size: 2em;
    padding-left: 0;
    margin-top: 10px;
}


/*
*****************************************************************************************
COMPONENT: array-select-input
 */

#scopus-author-input div.array-input {
    padding: 10px;
    background-color: #f7f7f7;
}

#scopus-author-input button.array-input-button {
    width: 30px;
    height: 30px;
    font-size: 20px;

    color: white;
    background-color: #3ECF8E;

    border-style: solid;
    border-width: 0px;
}

#scopus-author-input button.array-input-button:active {
    background-color: #28A46C;
}

#scopus-author-input button.array-input-add-button {
    border-radius: 0px;
}

#scopus-author-input button.array-input-remove-button {
    font-size: 15px;
    width: 26px;
    height: 26px;
    margin-left: 0px;
}

/*
*****************************************************************************************
COMPONENT: author-affiliation-listing
 */

#scopus-author-input div.scopus-author-affiliation-list {
    padding: 10px;

    background-color: #f7f7f7;

    display: flex;
    flex-direction: column;
}

#scopus-author-input div.scopus-author-affiliation-header strong {
    margin-right: auto;
}

#scopus-author-input div.scopus-author-affiliation .first {
    flex-grow: 5;
}

#scopus-author-input div.scopus-author-affiliation .other {
    width: 100px;
}

div.scopus-author-affiliation {
    display: flex;
    flex-direction: row;
}

/*
*****************************************************************************************
COMPONENT: activity-log
 */

#scopus-author-input .activity-log-container {
    background-color: #f7f7f7;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
}
